.entityCard {
    word-wrap: 'break-word';
}

.entityCardBody {
    cursor: 'pointer';
}
.entityCardPlainText {
    font-size: '9px';
    color: 'rgba(0,0,0,0.2)';
}
.entityCardPlainTextSpan {
}
.entityCardHeader {
    padding: '5px 10px 5px 10px';
}
.entityCardHeaderTitle {
    font-size: '12px';
}
.entityCardHeaderSpan {
    font-size: '9px';
}
.entityCardHeaderUrl {
    font-size: '9px';
}

.entityCardDelete = {
    cursor: 'pointer';
    display: 'inline-block';
    margin-left: '5px';
    margin-top: '-5px';
    font-size: '16px';
    color: 'rgba(0,0,0,.2)'
}

.infoEleTitle {
	color:'rgba(0,0,0,.9)';
}

.infoEleLabel {
	background-color: 'rgba(0,0,0,0.2)';
    color:'rgba(255,255,255,1)';
    font-weight: 200;
}

.modalStyle  {
    top: '8vh';
    display: 'block';
}

.modalWrapper {
    background: 'transparent';
    z-index: 1040;
};