.linkContractRequestsListItem { /* stylelint-ignore */
}

.name { /* stylelint-ignore */
  color: #777;
  position: relative;
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  font-family: 'Roboto Mono', monospace;
  cursor: pointer;
  border: solid 1px #CCC;
  border-radius: 3px;
  padding: 1px 4px 2px;
  margin: 0 5px 5px 0;
}

.did {
  color: #777;
  position: relative;
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  font-family: 'Roboto Mono', monospace;
  cursor: pointer;
  border: solid 1px #CCC;
  border-radius: 3px;
  padding: 1px 4px 2px;
  margin: 0 5px 5px 0;
}

.tagsList { /* stylelint-ignore */
}

.tagItem {
  color: #777;
  position: relative;
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  font-family: 'Roboto Mono', monospace;
  cursor: pointer;
  border: solid 1px #CCC;
  border-radius: 3px;
  padding: 1px 4px 2px;
  margin: 0 5px 5px 0;
  user-select: none;
}

.jsonCode {
  color: #777;
  position: relative;
  font-size: 12px;
  font-weight: 300;
  font-family: 'Roboto Mono', monospace;
  cursor: pointer;
  border: solid 1px #CCC;
  border-radius: 3px;
  padding: 1px 4px 2px;
  margin: 0 5px 5px 0;
  display: block;
  white-space: pre-wrap;
}
