.entityWrapper {
  margin-bottom: 15px;
  word-wrap: break-word;
}

.entityBodyWrapper {
  margin-bottom: 0;
}

.cardHeaderInfoWrapper {
  overflow: hidden;
  margin-top: 5px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.18);
}

.entityType {
  display: inline-block;
  padding: 0 4px 0 5px;
  font-size: 12px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.entityActor {
  display: inline-block;
  padding: 0 3px 0 4px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.entityTimeWrapper {
  margin-top: 17px;
  opacity: 0.45;
}

.entityTimeWrapper:hover {
  opacity: 1;
}

.entityTime,
.entityDay,
.entityDate {
  text-align: right;
  font-family: 'Roboto Mono', monospace;
}

.entityTime {
  font-size: 13px;
  color: rgba(0, 0, 0, 1);
}

.entityDay {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.entityDate {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.45);
}

.entityCardExpandWrapper {
  position: relative;
  margin-top: -14px;
  margin-left: 8px;
  z-index: 100000;
  cursor: pointer;
}

.entityCardReducenWrapper {
  position: relative;
  margin-top: -14px;
  margin-left: 8px;
  z-index: 100000;
  cursor: pointer;
}

.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

.profileListUL {
  margin: 0;
  padding: 0;
}

.profileListLI,
.profileListLICancel {
  font-size: 14px;
  cursor: pointer;
  list-style: none;
  padding: 10px 30px 7px 10px;
}

.profileListLI:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.profileListLICancel {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.25);
}

.profileListLICancel:hover {
  color: rgba(255, 0, 0, 0.35);
  border-top: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(255, 0, 0, 0.02);
}

.cardHeaderDeleteWrapper {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.abstractP {
  padding: 5px;
  color: rgba(0, 0, 0, 0.25);
  font-size: 14px;
  transition: 0.5s;
}

.abstractP:hover {
  color: rgba(0, 0, 0, 0.65);
}

.notAutoTag {
  cursor: pointer;
  color: #FFF;
  background-color: #81C784;
}

.notAutoTag:hover {
  color: #E8F5E9;
  background-color: #66BB6A;
}

.autoTag {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.085);
  color: rgba(0, 0, 0, 0.55);
}

.autoTag:hover {
  border: 1px solid rgba(0, 0, 0, 0.18);
  color: rgba(0, 0, 0, 0.65);
}
