
.attributesList { /* stylelint-ignore */
  width: 400px;
}

.newAttributeContainer {
  width: 400px;
}

.newAttributeKeyInput {
  display: inline-block;
}

.newAttributeValueInput {
  display: inline-block;
}
